---
version: '3'

services:
  influxdb:
    image: influxdb:latest
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      - INFLUXDB_DB= {{ influx_db_name }}
      - INFLUXDB_ADMIN_USER= {{ influx_root_name }}
      - INFLUXDB_ADMIN_PASSWORD= {{ influx_root_password }}
      - INFLUXDB_USER= {{ influx_user_name }}
      - INFLUXDB_USER_PASSWORD= {{ influx_user_password }}
    volumes:
      - ./influx:/var/lib/influxd